/******************************************************************************/
/* ThemeSettings */

/********** MATERIAL COLORS **********/

/* V1 - http://materialcolors.com/ */
/* V2 - https://www.materialpalette.com/ */
$red:        #f44336;
$pink:       #e91e63;
$purple:     #9c27b0;
$deeppurple: #673ab7;
$indigo:     #3f51b5;
$blue:       #2196f3;
$lightblue:  #03a9f4;
$cyan:       #00bcd4;
$teal:       #009688;
$green:      #4caf50;
$lightgreen: #8bc34a;
$lime:       #cddc39;
$yellow:     #ffeb3b;
$amber:      #ffc107;
$orange:     #ff9800;
$deeporange: #ff5722;
$brown:      #795548;
$grey:       #9e9e9e;
$bluegrey:   #607d8b;


/********** OTHER COLORS **********/

$black: #000;
$almostblack: #111111;
$white: #fff;
$almostwhite: #f7f7f7;
$almostwhite2: #f0f0f0;


/********** MATERIAL SETTINGS **********/

$md-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
$md-shadow-hover: 0 1px 10px 0 rgba(0,0,0,0.35);
$md-shadow-pressed: 0 1px 2px 0 rgba(0,0,0,0.1);

$md-shadow-floating: 0 0.1em 0.5em rgba(0,0,0,0.4);


/********** THEME SETTINGS **********/

$my-theme: 'light';

/* LIGHT THEME */
$my-base-color: $white;
$my-active-color: $lightblue;
$my-alert-color: $red;
$my-confirm-color: $green;

$my-text-color: $black;

$my-page-bg-color: $my-base-color;
$my-page-bg-image: url('../images/background.jpg');

$my-toolbar-dark-color: $bluegrey;
$my-toolbar-light-color: $almostwhite;
$my-toolbar-neutral-color: #e0e0e0;

$my-border-color: #dedede;
$my-list-separator-color: #dedede;
$my-toolbar-field-border-color: #a6a6a6;
$my-toolbar-border-width: 0;

$my-button-color: $almostwhite;
$my-button-pressed-color: $almostwhite2;

$my-list-bg-color: rgba(255,255,255,.5);
$my-list-active-color: $my-active-color;

/* DARK THEME */
@if $my-theme == 'dark' {
    $my-base-color: #2f63a3;
    $my-active-color: $lightblue;
    $my-alert-color: $red;
    $my-confirm-color: $green;

    $my-text-color: $white;

    $my-page-bg-color: $my-base-color;
    $my-page-bg-image: url('../images/background-dark.jpg');

    $my-toolbar-dark-color: rgba(0, 0, 0, 0.23); // rgba(9, 52, 95, 0.27);
    $my-toolbar-light-color: rgba(0, 0, 0, 0.23); // rgba(9, 52, 95, 0.27);
    $my-toolbar-neutral-color: rgba(0, 0, 0, 0.23); // rgba(9, 52, 95, 0.27);

    $my-border-color: rgba(255, 255, 255, 0.4);
    $my-list-separator-color: rgba(255, 255, 255, 0.4);
    $my-toolbar-field-border-color: rgba(255, 255, 255, 0.4);
    $my-toolbar-border-width: 1px;

    $my-button-color: $almostwhite;
    $my-button-pressed-color: $almostwhite2;

    $my-list-bg-color: rgba(0, 0, 0, 0.23);
    $my-list-active-color: $my-active-color;
}


/********** SENCHA THEME VARIABLES **********/

$badge-bg-color: $deeporange;
$button-gradient: glossy;
$button-radius: 0.2em;
$active-color: $my-active-color;
$alert-color: $my-alert-color;
$base-color: $my-base-color;
$confirm-color: $my-confirm-color;
$list-active-gradient: flat;
$list-header-gradient: flat;
$list-pressed-color: $active-color;
$form-field-label-border-top-color: transparent;
$form-field-label-text-shadow: false;
$form-fieldset-radius: 0em;
$form-fieldset-title-text-shadow: false;
$form-bg-color: rgba(0,0,0,0);
$panel-border-radius: 0em;
$sheet-bg-color: $base-color;
$sheet-bg-gradient: flat;
$tabs-bar-gradient: flat;
$tabs-bottom-active-gradient: flat;
$tabs-dark-active-color: $active-color;
$toolbar-gradient: flat;
$toolbar-input-border-color: transparent;
$list-active-color: $my-list-active-color;
/******************************************************************************/
/* Mixins */

@mixin my-transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin my-color-styles($name, $color) {
    /* custom */
    .bg-#{$name},
    .background-#{$name},
    .#{$name}-bg,
    .#{$name}-background {
        background-color: $color;
    }

    .font-#{$name},
    .text-#{$name},
    .#{$name}-font,
    .#{$name}-text {
        color: $color;
    }

    .badge {
        @include color-by-background($active-color);
        background-color: $active-color;
        @include border-radius(0.2em);
        padding: 0 5px;
        &.#{$name} {
            @include color-by-background($color);
            background-color: $color;
        }
    }

    /* colors for custom styles */
    .triangle.#{$name} {
        &.top-left,
        &.top-right {
            border-top-color: $color;
        }
        &.bottom-left,
        &.bottom-right {
            border-bottom-color: $color;
        }
    }

    /* sencha overrides */
    .x-hasbadge {
        &.#{$name}-badge,
        &.badge-#{$name} {
            .x-badge {
                background-color: $color;
                @include color-by-background($color);
            }
        }
    }

    /* sencha components */
    @include sencha-button-ui(
        $ui-label: $name,
        $color: $color,
        $gradient: $button-gradient
    );
}

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/******************************************************************************/
/* ColorStyles */

/* $all-colors: (
    ('red', $red),
    ('green', $green),
    ('blue', $blue),
);

@each $color in $all-colors {
    .bg-#{nth($color, 1)} {
        background-color: nth($color, 2);
    }
    .font-#{nth($color, 1)} {
        color: nth($color, 2);
    }
} */

@include my-color-styles('red', $red);
@include my-color-styles('pink', $pink);
@include my-color-styles('purple', $purple);
@include my-color-styles('deeppurple', $deeppurple);
@include my-color-styles('indigo', $indigo);
@include my-color-styles('blue', $blue);
@include my-color-styles('lightblue', $lightblue);
@include my-color-styles('cyan', $cyan);
@include my-color-styles('teal', $teal);
@include my-color-styles('green', $green);
@include my-color-styles('lightgreen', $lightgreen);
@include my-color-styles('lime', $lime);
@include my-color-styles('yellow', $yellow);
@include my-color-styles('amber', $amber);
@include my-color-styles('orange', $orange);
@include my-color-styles('deeporange', $deeporange);
@include my-color-styles('brown', $brown);
@include my-color-styles('grey', $grey);
@include my-color-styles('gray', $grey);
@include my-color-styles('bluegrey', $bluegrey);
@include my-color-styles('black', $black);
@include my-color-styles('almostblack', $almostblack);
@include my-color-styles('white', $white);
@include my-color-styles('almostwhite', $almostwhite);
/******************************************************************************/
/* Fixes */

/* don not darker confirm and decline buttons colors */
@if $include-button-uis {
    @include sencha-button-ui('action', $active-color);
    /*@include sencha-button-ui('confirm', desaturate(darken($confirm-color, 10%), 5%));*/
    @include sencha-button-ui('confirm', $confirm-color);
    /*@include sencha-button-ui('decline', desaturate(darken($alert-color, 10%), 5%));*/
    @include sencha-button-ui('decline', $alert-color);
}

/* fix for weird pink background */
/* 
.x-container.x-layout-box-item {
    background-color: transparent !important;
}
*/

/* loading mask */
.x-mask .x-mask-message {
    color: white;
    font-weight: normal;
}

/* mouse cursor */
.cursor-pointer,
.x-button,
.x-list-item,
.x-tab,
.x-field-checkbox /*.x-component-outer*/,
.x-field-radio /*.x-component-outer*/,
.x-field-select .x-component-outer,
.x-toggle,
.x-slider-inner,
.x-spinner-button,
.x-carousel-indicator {
    cursor: pointer;
}
.x-item-disabled {
    cursor: not-allowed;
}
.x-loading-mask {
    cursor: wait;
}

/* badge */
.x-hasbadge .x-badge {
    border: none;
    background-image: none;
}

/* scroller */
.x-scroll-indicator.rounded > * {
	background-color: #000;
}
.x-scroll-indicator.rounded > :nth-child(2) {
	content: none;
	background-color: #000;
}
.x-scroll-indicator {
	opacity: 0.2 !important;
}

/* title */
.x-title {
    font-size: 1.0em;
    text-shadow: none !important;
    font-weight: normal;
}

/* button */
.x-button .x-button-icon {
    text-align: center;
}

/* unserstandable carousel */
.x-carousel-indicator {
    background-color: rgba(0,0,0,0.1);

    >.span {
        width: 1em;
        height: 1em;
        @include border-radius(0.25em);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 20px;
        font-family: 'FontAwesome';
        border-radius: 0.2em;
        font-size: 1.5em;
        color: rgba(0,0,0,0.3);
    }
    &.x-carousel-indicator-horizontal {
        &:before {
            content: '\f104';
            top: 50%;
            margin-top: -10px;
            left: 5px;
        }
        &:after {
            content: '\f105';
            top: 50%;
            margin-top: -10px;
            right: 5px;
        }
    }
    &.x-carousel-indicator-vertical {
        &:before {
            content: '\f106';
            left: 50%;
            margin-left: -10px;
            top: 5px;
        }
        &:after {
            content: '\f107';
            left: 50%;
            margin-left: -10px;
            bottom: 5px;
        }
    }
}
/******************************************************************************/
/* ThemeOverrides */

/********** MATERIAL DESING **********/

/* material styles */
.md-shadow {
    @include box-shadow($md-shadow);
}

/* base */
#ext-viewport > .x-body {
    background: {
        color: $my-page-bg-color;
        image: $my-page-bg-image;
        size: cover;
    }
}
.x-layout-card-item {
    background-color: transparent;
}

/* buttons */
.x-button {
    &:not(.x-button-plain) {
        @include box-shadow($md-shadow);
        background-image: none !important;
        border: none !important;
    }
    background-color: $my-button-color;
    @include my-transition(all 0.2s ease);

}
.x-button:hover {
	@include box-shadow($md-shadow-hover);
}
.x-button.x-button-pressing,
.x-button.x-button-pressed {
    background-color: $my-button-pressed-color;
    @include box-shadow($md-shadow-pressed);
}
.x-button.x-button-plain.x-button-pressing,
.x-button.x-button-plain.x-button-pressed,
.x-toolbar .x-button.x-button-plain.x-button-pressing,
.x-toolbar .x-button.x-button-plain.x-button-pressed {
    background-color: transparent;
    background-image: none;
}
.x-button-label,
.x-badge,
.x-hasbadge .x-badge {
    font-weight: normal;
}
.x-button-plain {
    color: $my-text-color;
}

.x-webkit {
    .x-button-forward:before,
    .x-button-forward:after,
    .x-button-back:before,
    .x-button-back:after {
        content: none;
    }
}

/* fields */
.x-field-select .x-component-outer:after {
    display: none;
}
.x-toggle-on {
    background-image: none;
    background-color: $active-color;
}

/* fieldset */
.x-form-fieldset-title {
    font-weight: normal;
    color: $my-text-color;
}

/* toolbar and titlebar and tab bar */
.x-toolbar {
    border-color: $my-border-color !important;
    border-width: $my-toolbar-border-width !important;
}
.x-toolbar-dark {
    background-color: $my-toolbar-dark-color;
    &:not(.x-msgbox-title) .x-title,
    &:not(.x-msgbox-title) .x-button-plain {
        @include color-by-background($my-toolbar-dark-color);
        @if $my-theme == 'dark' {
            color: $white;
        }
    }
}
.x-toolbar-light {
    background-color: $my-toolbar-light-color;
    .x-title,
    .x-button-plain {
        @include color-by-background($my-toolbar-light-color);
        @if $my-theme == 'dark' {
            color: $white;
        }
    }
}
.x-toolbar-neutral {
    background-color: $my-toolbar-neutral-color;
    .x-title,
    .x-button-plain  {
        @include color-by-background($my-toolbar-neutral-color);
        @if $my-theme == 'dark' {
            color: $white;
        }
    }
}


/* toolbar buttons */
.x-body .x-toolbar {
    .x-button-back,
    .x-button-forward {
        margin: 6px .2em;
        padding: 0 .6em;
    }
}

/* toolbar fields */
.x-toolbar {
    .x-field-textarea .x-component-outer,
    .x-field-text .x-component-outer,
    .x-field-number .x-component-outer,
    .x-field-search .x-component-outer,
    .x-field-select .x-component-outer {
        @include box-shadow(none);
        border: 1px solid $my-toolbar-field-border-color;
        @include border-radius(0.2em);
    }
    .x-field-search .x-field-input:before {
        top: .25em;
        left: .2em;
    }
    .x-field-select .x-component-outer {
        background-color: white;
        color: #000;
    }
    .x-field-select .x-input-text {
        color: #000;
    }
    .x-field-select .x-input-el {
        -webkit-text-fill-color: #000;
    }
}

.x-tabbar.x-docked-top .x-tab {
    @include border-radius(0);
    margin-bottom: -14px;
    @include border-top-left-radius(0.2em);
    @include border-top-right-radius(0.2em);
    height: 2.4em;
}
.x-tabbar {
    &.x-docked-bottom .x-tab {
        @include border-radius(0.2em);
    }
    > .x-tabbar-inner {
        overflow: hidden;
    }
    &.x-docked-top .x-tab-active:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.5em;
        background-color: $active-color;
    }
}

/* segmented button */
.x-segmentedbutton .x-button-pressed:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2em;
    background-color: $active-color;
}

/* list */
.x-list {
    background-color: $my-list-bg-color;
    .x-list-item {
        color: $my-text-color;
        &.x-list-item-tpl,
        &.x-list-item-tpl.x-list-footer-wrap {
            border-color: $my-list-separator-color;
        }
        &.x-list-item-tpl.x-list-header-wrap {
            border-top-width: 0;
        }
    }
}
.x-list-round {
    background-color: transparent;
    .x-scroll-view {
        background-color: transparent;
    }
    &.x-list-ungrouped .x-list-item-tpl {
        background-color: $my-list-bg-color;
    }
    .x-list-item.x-list-item-tpl.x-list-header-wrap {
        border-top-width: 1px;
    }
}

/* msgbox and floating panels */
.x-msgbox {
    border: none;
    @include border-radius(0);
    background-color: $almostwhite;

    .x-field-input {
        background-color: $white;
    }
    .x-msgbox-text,
    .x-title {
        color: $black;
        text-shadow: none;
    }
}
.x-panel.x-floating,
.x-form.x-floating {
    background-color: $white;
    @include box-shadow($md-shadow-floating);
    padding: 0;
    .x-list {
        background-color: $white;
        .x-list-item {
            color: $black;
        }
        .x-list-item {
            &.x-list-item-tpl,
            &.x-list-item-tpl.x-list-footer-wrap {
                border-color: #dedede;
            }
            &.x-item-selected {
                @include color-by-background($active-color);
            }
        }
    }
}
.x-webkit .x-anchor.x-anchor-top {
    background-color: $white;
}
/******************************************************************************/
/* RippleEffect */

/* this ripple effect origin is always in the center, to change that you have to use javascript */
.x-button:not(.x-item-disabled):not(.x-button-back):not(.x-button-forward),
.x-button,
.x-list-item {
  position: relative;
/*   overflow: hidden; */
  transform: translate3d(0, 0, 0);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    //background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
  }
}
.x-list-item {
    overflow: hidden;
}
/******************************************************************************/
/* FontAwesome */

$font-files: url('../font-awesome/fonts/fontawesome-webfont.woff') format("woff");

@include icon-font('FontAwesome', $font-files);

@include icon('my-fa-save', '\f0c7', 'FontAwesome');
@include icon('my-fa-file-o', '\f016', 'FontAwesome');
@include icon('my-fa-trash-o', '\f014', 'FontAwesome');
@include icon('my-fa-copy', '\f0c5', 'FontAwesome');
@include icon('my-fa-paste', '\f0ea', 'FontAwesome');

.x-button .x-button-icon .fa:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center
}

/* font awesome disclosure */
.x-list {
    .x-list-disclosure {
        background: transparent;
        &:before {
            font-family: 'FontAwesome';
            content: '\f105';
            margin-left: 0.2em;
            color: silver;
            line-height: 32px;
        }
    }
}

/* font awesome spinner buttons */
.x-spinner {
    .x-spinner-button {
        color: transparent;
        position: relative;
        background-image: none;
        &:before {
            font-family: 'FontAwesome';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            line-height: 36px;
            color: black;
        }
    }
    .x-spinner-button-up:before {
        content: '\f067';
    }
    .x-spinner-button-down:before {
        content: '\f068';
    }
}
.border-top {
    border-right: 1px solid $my-border-color;
}
.border-right {
    border-right: 1px solid $my-border-color;
}
.border-bottom {
    border-right: 1px solid $my-border-color;
}
.border-left {
    border-right: 1px solid $my-border-color;
}

.strip {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 80%;
    top: 10%;
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    background: transparent !important;
    &.top-left {
        border-top: 15px solid $active-color;
        border-right: 15px solid transparent;
        top: 0;
        left: 0;
    }
    &.top-right {
        border-top: 15px solid $active-color;
        border-left: 15px solid transparent;
        top: 0;
        right: 0;
    }
    &.bottom-left {
        border-bottom: 15px solid $active-color;
        border-right: 15px solid transparent;
        bottom: 0;
        left: 0;
    }
    &.bottom-right {
        border-bottom: 15px solid $active-color;
        border-left: 15px solid transparent;
        bottom: 0;
        right: 0;
    }
}

.tabbar-style.x-segmentedbutton {
    margin-bottom: -14px;
    .x-button {
        height: 2.4em;
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);

        &.x-button-pressed:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.5em;
            background-color: $active-color;
        }

        .x-button-label {
            position: relative;
            top: -7px;
        }
    }
}

/* list itemHeight should be at least 68 */
.person-image {
    position: absolute;
    height: 3.2em;
    width: 3.2em;
    right: 0.8em;
    top: 50%;
    margin-top: -1.6em;
    @include border-radius(1.6em);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $my-border-color;
    border: 1px solid $my-border-color;
}
.person-image.square {
    @include border-radius(2px);
}
.with-person-image.x-list .x-list-item {
    min-height: 68px !important;
    .x-innerhtml {
        padding-right: 85em;
    }
}

.markers-container {
    right: 0.8em;
    color: $active-color;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    white-space: nowrap;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .markers {
        display: inline-block;
        vertical-align: middle;

        >div {
            display: block;
            line-height: 20px;
            width: 20px;
            height: 20px;
            text-align: center;
            background-color: transparent;
            border-radius: 2px;
            margin: 2px 0px;
        }
    }
}
.with-markers.x-list .x-list-item {
    &.x-item-selected .markers div {
        background-color: $white;
    }
    .x-innerhtml {
        padding-right: 35px;
    }
}

.with-person-image.with-markers.x-list {
    .markers-container {
        right: 4.5em;
    }
    .x-list-item .x-innerhtml {
        padding-right: 105px;
    }
}

.flexbox.x-list {
    .x-innerhtml {
        @include flexbox();
    }
}
.flexbox .flex1 {
    @include flex(1);
    overflow: hidden;
}
.flexbox .flex2 {
    @include flex(2);
    overflow: hidden;
}
.flexbox .flex3 {
    @include flex(3);
    overflow: hidden;
}
.flexbox .flex4 {
    @include flex(3);
    overflow: hidden;
}
.flexbox .flex5 {
    @include flex(3);
    overflow: hidden;
}

/* ui mixin: teal for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"teal",
    $color: $teal,
    $gradient: $button-gradient
);
/* ui mixin: red for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"red",
    $color: $red,
    $gradient: $button-gradient
);
/* ui mixin: pink for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"pink",
    $color: $pink,
    $gradient: $button-gradient
);
/* ui mixin: purple for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"purple",
    $color: $purple,
    $gradient: $button-gradient
);
/* ui mixin: deeppurple for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"deeppurple",
    $color: $deeppurple,
    $gradient: $button-gradient
);
/* ui mixin: indigo for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"indigo",
    $color: $indigo,
    $gradient: $button-gradient
);
/* ui mixin: blue for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"blue",
    $color: $blue,
    $gradient: $button-gradient
);
/* ui mixin: lightblue for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"lightblue",
    $color: $lightblue,
    $gradient: $button-gradient
);
/* ui mixin: cyan for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"cyan",
    $color: $cyan,
    $gradient: $button-gradient
);
/* ui mixin: green for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"green",
    $color: $green,
    $gradient: $button-gradient
);
/* ui mixin: lightgreen for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"lightgreen",
    $color: $lightgreen,
    $gradient: $button-gradient
);
/* ui mixin: lime for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"lime",
    $color: $lime,
    $gradient: $button-gradient
);
/* ui mixin: yellow for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"yellow",
    $color: $yellow,
    $gradient: $button-gradient
);
/* ui mixin: amber for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"amber",
    $color: $amber,
    $gradient: $button-gradient
);
/* ui mixin: orange for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"orange",
    $color: $orange,
    $gradient: $button-gradient
);
/* ui mixin: deeporange for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"deeporange",
    $color: $deeporange,
    $gradient: $button-gradient
);
/* ui mixin: brown for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"brown",
    $color: $brown,
    $gradient: $button-gradient
);
/* ui mixin: grey for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"grey",
    $color: $grey,
    $gradient: $button-gradient
);
/* ui mixin: bluegrey for of type: sencha-button-ui */

@include sencha-button-ui(
  $ui-label:"bluegrey",
    $color: $bluegrey,
    $gradient: $button-gradient
);